{{>header}}
{{>navbar}}
    <div class="alert alert-dark mt-5 p-5 text-center">
        <p class="fs-1">{{message}}</p>
        <p class="fs-1 alert alert-danger">Not Recommended</p>
        <a href="/" class="btn btn-primary mt-5">Go To Home Page</a>
    </div>
{{>footer}}

